In [1]:
import datetime
import os
import random
import readline
from datetime import date
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import cftime
import matplotlib.colors as mcolors
import matplotlib.dates as mdates
import matplotlib.lines as mlines
import matplotlib.patches as mpatches
import matplotlib.ticker as mticker
import netCDF4
import numpy
import pandas
import scipy
import seaborn
import xarray as xr
from cartopy.mpl.gridliner import LATITUDE_FORMATTER, LONGITUDE_FORMATTER
from matplotlib import colors, font_manager, pyplot
from matplotlib.cm import ScalarMappable
from mpl_toolkits.mplot3d import Axes3D
from PIL import Image
from scipy import fft, linalg, stats
from scipy.stats import poisson, ttest_ind
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import normalize
from statsmodels.tsa.ar_model import AutoReg

In [2]:
Diri = '/glade/u/home/whimkao//ExtraTrack/ExtraTrack_Data/Output_Files_V6/'
Output_Diri = '/glade/u/home/whimkao//ExtraTrack/ExtraTrack_Github/RCP_Figs/Analysis_Figs_V6/'

In [3]:
# Open File
def Open_File(File):
    DF = pandas.read_csv(File)
    DF = DF.drop("Unnamed: 0", axis=1)
    return (DF)

In [4]:
# Open Each File
def Files_Open(Model, Diri):
    Data_DF = Open_File(Diri+Model+'_Data_All_Output_V6.csv')
    ET_DF = Open_File(Diri+Model+'_ET_All_Output_V6.csv')
    Codes_DF = Open_File(Diri+Model+'_Codes_Output_V6.csv')
    Time = []
    Birth_Time = []
    Start_Time = []
    End_Time = []
    Death_Time = []
    Peak_Time = []
# Edit Time Format
    for i in range(len(Data_DF)):
        Time.append(Datetime(Data_DF["Time(Z)"][i]))
    for j in range(len(ET_DF)):
        Birth_Time.append(Datetime(ET_DF["Genesis Time"][j]))
        Start_Time.append(Datetime(ET_DF["ET Begin Time"][j]))
        End_Time.append(Datetime(ET_DF["ET Complete Time"][j]))
        Death_Time.append(Datetime(ET_DF["Dissipate Time"][j]))
        Peak_Time.append(Datetime(ET_DF["Peak Time"][j]))
    Data_DF["Time(Z)"] = Time
    ET_DF["Genesis Time"] = Birth_Time
    ET_DF["ET Begin Time"] = Start_Time
    ET_DF["ET Complete Time"] = End_Time
    ET_DF["Dissipate Time"] = Death_Time
    ET_DF["Peak Time"] = Peak_Time
    return (Data_DF, ET_DF, Codes_DF)

In [5]:
def Datetime(Time):
    try:
        New_Time = datetime.datetime.strptime(Time, '%Y-%m-%d %H:%M:%S')
    except:
        New_Time = numpy.nan
    return (New_Time)

In [6]:
# Create Phase Distribution Bins
def Create_Bins(Min, Max, Bin_Width):
    Bins = numpy.arange(Min, Max+Bin_Width, Bin_Width)
    return (Bins)
Lon_Bins = Create_Bins(-100,20,5)
Lat_Bins = Create_Bins(0,60,5)

In [7]:
Num_Years = numpy.array([90,93,93])

In [8]:
Control_Data_All, Control_ET_All, Control_Codes = Files_Open("Control", Diri)
RCP45_Data_All, RCP45_ET_All, RCP45_Codes = Files_Open("RCP45", Diri)
RCP85_Data_All, RCP85_ET_All, RCP85_Codes = Files_Open("RCP85", Diri)

In [9]:
Control_ET_All

,Code,Name,Trans Type,Genesis Time,ET Begin Time,ET Complete Time,Dissipate Time,Peak Time,Peak SLP,Peak Lon,...,Genesis Lat,ET Begin SLP,ET Begin Lon,ET Begin Lat,ET Complete SLP,ET Complete Lon,ET Complete Lat,Dissipate SLP,Dissipate Lon,Dissipate Lat
0,TC190001,Alex,3,1900-06-19 12:00:00,1900-07-03 18:00:00,1900-07-03 18:00:00,1900-07-04 00:00:00,1900-06-25 06:00:00,987.41,-84.91,...,27.99,1015.57,-90.75,36.25,1015.57,-90.75,36.25,1015.96,-90.75,36.00
1,TC190002,Beatrice,0,1900-08-09 00:00:00,1900-08-17 06:00:00,NaT,1900-08-18 12:00:00,1900-08-14 06:00:00,887.54,-70.56,...,11.71,956.40,-62.06,44.15,NaN,NaN,NaN,975.66,-60.61,50.74
2,TC190003,Colin,1,1900-09-09 18:00:00,1900-09-18 00:00:00,1900-09-20 12:00:00,1900-09-20 18:00:00,1900-09-19 12:00:00,934.83,-70.67,...,12.39,952.06,-77.17,31.14,979.68,-62.68,47.61,981.64,-60.41,49.34
3,TC190004,Dawn,1,1900-10-29 00:00:00,1900-11-05 12:00:00,1900-11-06 12:00:00,1900-11-09 06:00:00,1900-11-04 00:00:00,948.88,-91.58,...,19.22,954.74,-87.08,27.00,992.74,-74.44,30.88,1007.87,-24.00,44.75
4,TC190005,Ernest,1,1900-10-31 18:00:00,1900-11-06 00:00:00,1900-11-08 00:00:00,1900-11-08 06:00:00,1900-11-06 18:00:00,988.17,-20.93,...,27.02,996.02,-27.73,41.42,998.22,-9.00,45.00,1001.62,-6.50,44.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,TC198812,Frances,0,1988-10-18 06:00:00,1988-10-21 06:00:00,NaT,1988-10-22 12:00:00,1988-10-20 18:00:00,1002.34,-52.16,...,22.37,1003.18,-51.50,30.25,NaN,NaN,NaN,1006.13,-46.00,33.25
799,TC198901,Giovanni,-1,1989-07-13 06:00:00,NaT,NaT,1989-07-18 00:00:00,1989-07-18 00:00:00,1011.58,-67.14,...,27.59,NaN,NaN,NaN,NaN,NaN,NaN,1011.58,-67.14,36.30
800,TC198902,Ivy,1,1989-09-12 12:00:00,1989-09-27 00:00:00,1989-09-27 18:00:00,1989-09-29 18:00:00,1989-09-19 18:00:00,953.02,-38.61,...,11.08,1000.11,-21.27,47.20,1007.69,-15.50,47.25,1015.69,1.75,48.50
801,TC198903,James,0,1989-09-14 18:00:00,1989-09-21 12:00:00,NaT,1989-09-21 18:00:00,1989-09-20 12:00:00,995.22,-52.41,...,25.48,1001.76,-43.50,52.00,NaN,NaN,NaN,1002.20,-41.75,54.00
802,TC198904,Katie,0,1989-09-19 12:00:00,1989-09-27 00:00:00,NaT,1989-10-03 00:00:00,1989-09-28 12:00:00,962.35,-43.16,...,10.47,989.67,-56.43,28.00,NaN,NaN,NaN,989.59,-15.75,54.50

In [10]:
# Find Percentage of Storms That Complete ET Transition
def Storm_Types(ET_DF, Years):
    Storm_Type_Count = numpy.zeros(3)
    Total_Len = len(ET_DF)
    for i in range(Total_Len):
        if ET_DF["Trans Type"][i] == -1:
            Storm_Type_Count[0] += 1
        elif ET_DF["Trans Type"][i] == 0:
            Storm_Type_Count[1] += 1
        elif ET_DF["Trans Type"][i] >= 1:
            Storm_Type_Count[2] += 1
    Storm_Type_Percent = Storm_Type_Count / Total_Len
    Storm_Type_Annual = Storm_Type_Count / Years
    return (Storm_Type_Percent, Storm_Type_Annual)

In [11]:
Storm_Types(Control_ET_All, Num_Years[0])

(array([0.25778331, 0.33499377, 0.40722291]),
 array([2.3       , 2.98888889, 3.63333333]))

In [12]:
Storm_Types(RCP45_ET_All, Num_Years[1])

(array([0.27065026, 0.33391916, 0.39543058]),
 array([1.65591398, 2.04301075, 2.41935484]))

In [13]:
Storm_Types(RCP85_ET_All, Num_Years[2])

(array([0.23076923, 0.3097166 , 0.45951417]),
 array([1.22580645, 1.64516129, 2.44086022]))