In [1]:
import cartopy.crs as ccrs
import cartopy.feature as cfeature
from cartopy.mpl.gridliner import LATITUDE_FORMATTER, LONGITUDE_FORMATTER
import cftime
import datetime
from datetime import date
from matplotlib import pyplot
from matplotlib import colors
from matplotlib import font_manager
from matplotlib.cm import ScalarMappable
import matplotlib.colors as mcolors
import matplotlib.dates as mdates
import matplotlib.lines as mlines
import matplotlib.patches as mpatches
import matplotlib.ticker as mticker
import numpy
import pandas
from PIL import Image
import random
from scipy import stats
import xarray as xr

In [2]:
Diri = '/glade/u/home/whimkao//ExtraTrack/ExtraTrack_Data/Output_Files_V6/'
Output_Diri = '/glade/u/home/whimkao//ExtraTrack/ExtraTrack_Github/RCP_Figs/Analysis_Figs_V6.4.1/'

In [3]:
# Open File
def Open_File(File):
    DF = pandas.read_csv(File)
    DF = DF.drop("Unnamed: 0", axis=1)
    return (DF)

In [4]:
# Open Each File
def Files_Open(Model, Diri, Dataset):
    Data_DF = Open_File(Diri+Model+'_Data_'+Dataset+'_Output_V6.csv')
    ET_DF = Open_File(Diri+Model+'_ET_'+Dataset+'_Output_V6.csv')
    Codes_DF = Open_File(Diri+Model+'_Codes_Output_V6.csv')
# Edit Time Format
    Time, Begin_Time, Compl_Time, Trop_Peak_Time, Peak_Time, Birth_Time, Death_Time, Year = [], [], [], [], [], [], [], []
    for i in range(len(Data_DF)):
        Time.append(Datetime(Data_DF["Time(Z)"][i]))
    for j in range(len(ET_DF)):
        Begin_Time.append(Datetime(ET_DF["ET Begin Time"][j]))
        Compl_Time.append(Datetime(ET_DF["ET Complete Time"][j]))
        Trop_Peak_Time.append(Datetime(ET_DF["Trop Peak Time"][j]))
        Peak_Time.append(Datetime(ET_DF["Peak Time"][j]))
        Birth_Time.append(Datetime(ET_DF["Genesis Time"][j]))
        Death_Time.append(Datetime(ET_DF["Dissipation Time"][j]))
        Year.append(Find_Year(ET_DF["ET Begin Time"][j]))
    Data_DF["Time(Z)"] = Time
    ET_DF["ET Begin Time"] = Begin_Time
    ET_DF["ET Complete Time"] = Compl_Time
    ET_DF["Trop Peak Time"] = Trop_Peak_Time
    ET_DF["Peak Time"] = Peak_Time
    ET_DF["Genesis Time"] = Birth_Time
    ET_DF["Dissipation Time"] = Death_Time
    ET_DF["Year"] = Year
    return (Data_DF, ET_DF, Codes_DF)

In [5]:
def Datetime(Time):
    try:
        New_Time = datetime.datetime.strptime(Time, '%Y-%m-%d %H:%M:%S')
    except:
        New_Time = numpy.nan
    return (New_Time)

In [6]:
def Find_Year(Time):
    try:
        New_Time = datetime.datetime.strptime(Time, '%Y-%m-%d %H:%M:%S')
        Year = New_Time.year
    except:
        Year = numpy.nan
    return (Year)

In [7]:
# Create Phase Distribution Bins
def Create_Bins(Min, Max, Bin_Width):
    Bins = numpy.arange(Min, Max+Bin_Width, Bin_Width)
    return (Bins)
Lat_Bins = Create_Bins(10,60,5)
Lon_Bins = Create_Bins(-100,20,5)

In [8]:
Num_Years = numpy.array([90,93,93])

In [9]:
Control_Data, Control_ET, Control_Codes = Files_Open("Control", Diri, "SubsetB")
RCP45_Data, RCP45_ET, RCP45_Codes = Files_Open("RCP45", Diri, "SubsetB")
RCP85_Data, RCP85_ET, RCP85_Codes = Files_Open("RCP85", Diri, "SubsetB")

In [10]:
Control_Data_A, Control_ET_A, Control_Codes = Files_Open("Control", Diri, "SubsetA")
RCP45_Data_A, RCP45_ET_A, RCP45_Codes = Files_Open("RCP45", Diri, "SubsetA")
RCP85_Data_A, RCP85_ET_A, RCP85_Codes = Files_Open("RCP85", Diri, "SubsetA")

In [11]:
Control_ET

,Code,Name,ABC,Trans Type,ET Begin Time,ET Complete Time,Trop Peak Time,Peak Time,Genesis Time,Dissipation Time,...,Trop Peak SLP,Trop Peak Lon,Trop Peak Lat,ET Begin SLP,ET Begin Lon,ET Begin Lat,ET Complete SLP,ET Complete Lon,ET Complete Lat,Year
0,TC190001,Alex,A,3,1900-07-03 18:00:00,1900-07-03 18:00:00,1900-06-25 06:00:00,1900-06-25 06:00:00,1900-06-19 12:00:00,1900-07-04 00:00:00,...,987.41,-84.91,29.95,1015.57,-90.75,36.25,1015.57,-90.75,36.25,1900
1,TC190003,Colin,A,1,1900-09-18 00:00:00,1900-09-20 12:00:00,1900-09-15 18:00:00,1900-09-19 12:00:00,1900-09-09 18:00:00,1900-09-20 18:00:00,...,943.73,-77.15,24.55,952.06,-77.17,31.14,979.68,-62.68,47.61,1900
2,TC190004,Dawn,A,1,1900-11-05 12:00:00,1900-11-06 12:00:00,1900-11-04 00:00:00,1900-11-04 00:00:00,1900-10-29 00:00:00,1900-11-09 06:00:00,...,948.88,-91.58,20.70,954.74,-87.08,27.00,992.74,-74.44,30.88,1900
3,TC190005,Ernest,A,1,1900-11-06 00:00:00,1900-11-08 00:00:00,1900-11-05 00:00:00,1900-11-06 18:00:00,1900-10-31 18:00:00,1900-11-08 06:00:00,...,994.44,-32.46,35.66,996.02,-27.73,41.42,998.22,-9.00,45.00,1900
4,TC190102,Harrison,A,1,1901-05-28 12:00:00,1901-05-30 18:00:00,1901-05-27 06:00:00,1901-05-27 06:00:00,1901-05-23 00:00:00,1901-06-01 06:00:00,...,980.89,-51.83,25.92,991.56,-43.71,30.04,1008.78,-34.75,24.00,1901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,TC198802,Micah,C,1,1988-02-06 00:00:00,1988-02-06 06:00:00,1988-02-05 06:00:00,1988-02-05 06:00:00,1988-02-02 00:00:00,1988-02-07 12:00:00,...,998.09,-35.19,36.46,999.63,-31.01,38.29,999.02,-28.74,38.72,1988
278,TC198805,Seldoen,C,1,1988-09-07 06:00:00,1988-09-08 12:00:00,1988-09-07 00:00:00,1988-09-07 00:00:00,1988-08-29 06:00:00,1988-09-09 12:00:00,...,980.43,-49.24,32.21,984.68,-48.37,33.35,987.91,-35.17,42.45,1988
279,TC198808,Alice,C,2,1988-09-12 06:00:00,1988-09-12 12:00:00,1988-09-09 18:00:00,1988-09-13 06:00:00,1988-09-06 12:00:00,1988-09-13 06:00:00,...,998.54,-45.95,35.61,1009.08,-39.50,44.00,1008.35,-37.50,45.75,1988
280,TC198809,Bruce,C,1,1988-09-21 06:00:00,1988-09-27 00:00:00,1988-09-20 12:00:00,1988-09-22 00:00:00,1988-09-15 06:00:00,1988-09-27 18:00:00,...,961.85,-68.34,28.60,961.07,-66.39,30.40,1001.36,-41.00,47.00,1988
281,TC198902,Ivy,C,1,1989-09-27 00:00:00,1989-09-27 18:00:00,1989-09-19 18:00:00,1989-09-19 18:00:00,1989-09-12 12:00:00,1989-09-29 18:00:00,...,953.02,-38.61,31.20,1000.11,-21.27,47.20,1007.69,-15.50,47.25,1989

In [12]:
Control_ET_A

,Code,Name,ABC,Trans Type,ET Begin Time,ET Complete Time,Trop Peak Time,Peak Time,Genesis Time,Dissipation Time,...,Trop Peak SLP,Trop Peak Lon,Trop Peak Lat,ET Begin SLP,ET Begin Lon,ET Begin Lat,ET Complete SLP,ET Complete Lon,ET Complete Lat,Year
0,TC190001,Alex,A,3,1900-07-03 18:00:00,1900-07-03 18:00:00,1900-06-25 06:00:00,1900-06-25 06:00:00,1900-06-19 12:00:00,1900-07-04 00:00:00,...,987.41,-84.91,29.95,1015.57,-90.75,36.25,1015.57,-90.75,36.25,1900.0
1,TC190002,Beatrice,A,0,1900-08-17 06:00:00,NaT,1900-08-14 06:00:00,1900-08-14 06:00:00,1900-08-09 00:00:00,1900-08-18 12:00:00,...,887.54,-70.56,27.22,956.40,-62.06,44.15,NaN,NaN,NaN,1900.0
2,TC190003,Colin,A,1,1900-09-18 00:00:00,1900-09-20 12:00:00,1900-09-15 18:00:00,1900-09-19 12:00:00,1900-09-09 18:00:00,1900-09-20 18:00:00,...,943.73,-77.15,24.55,952.06,-77.17,31.14,979.68,-62.68,47.61,1900.0
3,TC190004,Dawn,A,1,1900-11-05 12:00:00,1900-11-06 12:00:00,1900-11-04 00:00:00,1900-11-04 00:00:00,1900-10-29 00:00:00,1900-11-09 06:00:00,...,948.88,-91.58,20.70,954.74,-87.08,27.00,992.74,-74.44,30.88,1900.0
4,TC190005,Ernest,A,1,1900-11-06 00:00:00,1900-11-08 00:00:00,1900-11-05 00:00:00,1900-11-06 18:00:00,1900-10-31 18:00:00,1900-11-08 06:00:00,...,994.44,-32.46,35.66,996.02,-27.73,41.42,998.22,-9.00,45.00,1900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,TC198810,Candy,C,0,1988-10-02 00:00:00,NaT,1988-09-21 18:00:00,1988-10-04 12:00:00,1988-09-18 06:00:00,1988-10-05 12:00:00,...,944.88,-37.45,17.34,957.08,-49.33,34.98,NaN,NaN,NaN,1988.0
645,TC198811,Dylan,C,0,1988-10-23 12:00:00,NaT,1988-10-12 00:00:00,1988-10-12 00:00:00,1988-09-22 12:00:00,1988-10-26 06:00:00,...,926.83,-52.84,30.49,993.78,-40.18,42.43,NaN,NaN,NaN,1988.0
646,TC198902,Ivy,C,1,1989-09-27 00:00:00,1989-09-27 18:00:00,1989-09-19 18:00:00,1989-09-19 18:00:00,1989-09-12 12:00:00,1989-09-29 18:00:00,...,953.02,-38.61,31.20,1000.11,-21.27,47.20,1007.69,-15.50,47.25,1989.0
647,TC198903,Jack,C,0,1989-09-21 12:00:00,NaT,1989-09-20 12:00:00,1989-09-20 12:00:00,1989-09-14 18:00:00,1989-09-21 18:00:00,...,995.22,-52.41,42.82,1001.76,-43.50,52.00,NaN,NaN,NaN,1989.0
648,TC198904,Kiley,C,0,1989-09-27 00:00:00,NaT,1989-09-26 06:00:00,1989-09-28 12:00:00,1989-09-19 12:00:00,1989-10-03 00:00:00,...,987.51,-59.26,25.72,989.67,-56.43,28.00,NaN,NaN,NaN,1989.0

In [13]:
# Function For Counting Annual Number of Storms
def Num_Storms(Control_ET, RCP45_ET, RCP85_ET):
    Control_Num, RCP45_Num, RCP85_Num = numpy.zeros(90), numpy.zeros(93), numpy.zeros(93)
    for i in range(90):
        Control_Num[i] = len(Control_ET[Control_ET["Year"] == i+1900])
    for j in range(93):
        RCP45_Num[j] = len(RCP45_ET[RCP45_ET["Year"] == j+2000])
        RCP85_Num[j] = len(RCP85_ET[RCP85_ET["Year"] == j+2100])
    return (Control_Num, RCP45_Num, RCP85_Num)

In [14]:
# Function For Applying SLP Bounds
def ET_SLP_Bounds(Control_ET, RCP45_ET, RCP85_ET, Begin):
# Define SLP Bound For ET Begin and ET Complete
    Begin_SLP_Bound = 1008
    Compl_SLP_Bound = 1008
# Apply Bounds
    if Begin == True:
        Control_ET_Begin = Control_ET[Control_ET["ET Begin SLP"] <= Begin_SLP_Bound].reset_index()
        RCP45_ET_Begin = RCP45_ET[RCP45_ET["ET Begin SLP"] <= Begin_SLP_Bound].reset_index()
        RCP85_ET_Begin = RCP85_ET[RCP85_ET["ET Begin SLP"] <= Begin_SLP_Bound].reset_index()
        return (Control_ET_Begin, RCP45_ET_Begin, RCP85_ET_Begin)
    else:
        Control_ET_Compl = Control_ET[Control_ET["ET Complete SLP"] <= Compl_SLP_Bound].reset_index()
        RCP45_ET_Compl = RCP45_ET[RCP45_ET["ET Complete SLP"] <= Compl_SLP_Bound].reset_index()
        RCP85_ET_Compl = RCP85_ET[RCP85_ET["ET Complete SLP"] <= Compl_SLP_Bound].reset_index()
        return (Control_ET_Compl, RCP45_ET_Compl, RCP85_ET_Compl)

In [15]:
# Function For Calculating Duration
def Find_Duration(Control_ET, RCP45_ET, RCP85_ET, Type):
    Control_Durations = Duration(Control_ET, Type)
    RCP45_Durations = Duration(RCP45_ET, Type)
    RCP85_Durations = Duration(RCP85_ET, Type)
    return (Control_Durations, RCP45_Durations, RCP85_Durations)

In [16]:
# Function For Calculating Duration
def Duration(ET_DF, Type):
    Durations = numpy.zeros(len(ET_DF))
    for i in range(len(ET_DF)):
        if Type == "Trop Dur":
            Duration_hr = (ET_DF["ET Begin Time"][i] - ET_DF["Genesis Time"][i]).total_seconds() / 3600
        elif Type == "Storm Dur":
            Duration_hr = (ET_DF["ET Complete Time"][i] - ET_DF["Genesis Time"][i]).total_seconds() / 3600
        elif Type == "ET Dur":
            Duration_hr = (ET_DF["ET Complete Time"][i] - ET_DF["ET Begin Time"][i]).total_seconds() / 3600
        Durations[i] = Duration_hr
    return (Durations)

In [17]:
# Calculate 10%, Median, 90% Percentiles
def Percentile(Array):
    Percent_10 = round(numpy.nanpercentile(Array, 10), 3)
    Median = round(numpy.nanmedian(Array), 3)
    Percent_90 = round(numpy.nanpercentile(Array, 90), 3)
    return ([Percent_10, Median, Percent_90])

In [18]:
# Calculate Statistical Significance Using KS Test
def KS_Test(Control_Array, RCP45_Array, RCP85_Array):
    P_Val_RCP45 = round(stats.kstest(Control_Array, RCP45_Array)[1], 3)
    P_Val_RCP85 = round(stats.kstest(Control_Array, RCP85_Array)[1], 3)
    return (P_Val_RCP45, P_Val_RCP85)

In [19]:
# Create DataFrame to Store Percentiles Data
def Percentile_DF(Control_Array, RCP45_Array, RCP85_Array):
    Control_Percentiles = Percentile(Control_Array)
    RCP45_Percentiles = Percentile(RCP45_Array)
    RCP85_Percentiles = Percentile(RCP85_Array)
    P_Vals = KS_Test(Control_Array, RCP45_Array, RCP85_Array)
    Control_Percentiles.append(1.000)
    RCP45_Percentiles.append(P_Vals[0])
    RCP85_Percentiles.append(P_Vals[1])
    DF = pandas.DataFrame({"Percentile": ["10%", "Median", "90%", "P Val"], \
    "Control": Control_Percentiles, "RCP4.5": RCP45_Percentiles, "RCP8.5": RCP85_Percentiles})
    return (DF)

In [20]:
# Min Sea Level Pressure
Min_SLP_DF = Percentile_DF(Control_ET["Peak SLP"], RCP45_ET["Peak SLP"], RCP85_ET["Peak SLP"])
Min_SLP_DF

  Percentile  Control   RCP4.5   RCP8.5
0        10%  927.600  928.000  923.900
1     Median  976.025  974.790  972.625
2        90%  995.200  995.700  994.400
3      P Val    1.000    0.946    0.573

In [21]:
# ET Initiation Sea Level Pressure
Control_ET_Begin, RCP45_ET_Begin, RCP85_ET_Begin = ET_SLP_Bounds(Control_ET, RCP45_ET, RCP85_ET, True)
ET_Begin_SLP_DF = Percentile_DF(Control_ET_Begin["ET Begin SLP"], RCP45_ET_Begin["ET Begin SLP"], RCP85_ET_Begin["ET Begin SLP"])
ET_Begin_SLP_DF

  Percentile  Control    RCP4.5    RCP8.5
0        10%    954.4   959.700   956.200
1     Median    993.5   993.885   994.280
2        90%   1004.4  1004.300  1005.200
3      P Val      1.0     0.990     0.964

In [22]:
# ET Completion Sea Level Pressure
Control_ET_Compl, RCP45_ET_Compl, RCP85_ET_Compl = ET_SLP_Bounds(Control_ET, RCP45_ET, RCP85_ET, False)
ET_Complete_SLP_DF = Percentile_DF(Control_ET_Compl["ET Complete SLP"], RCP45_ET_Compl["ET Complete SLP"], RCP85_ET_Compl["ET Complete SLP"])
ET_Complete_SLP_DF

  Percentile  Control    RCP4.5    RCP8.5
0        10%    977.0   977.300   974.200
1     Median    996.8   997.045   994.830
2        90%   1006.1  1005.500  1005.200
3      P Val      1.0     0.698     0.219

In [23]:
# Storm Peak Latitude
Peak_Lat_DF = Percentile_DF(Control_ET["Peak Lat"], RCP45_ET["Peak Lat"], RCP85_ET["Peak Lat"])
Peak_Lat_DF

  Percentile  Control  RCP4.5  RCP8.5
0        10%   23.100  25.200  26.000
1     Median   34.515  37.545  37.560
2        90%   46.200  47.200  47.000
3      P Val    1.000   0.017   0.015

In [24]:
# ET Initiation Latitude
Control_ET_Begin, RCP45_ET_Begin, RCP85_ET_Begin = ET_SLP_Bounds(Control_ET, RCP45_ET, RCP85_ET, True)
ET_Begin_Lat_DF = Percentile_DF(Control_ET_Begin["ET Begin Lat"], RCP45_ET_Begin["ET Begin Lat"], RCP85_ET_Begin["ET Begin Lat"])
ET_Begin_Lat_DF

  Percentile  Control  RCP4.5  RCP8.5
0        10%    27.60  29.500  31.600
1     Median    37.79  38.775  38.235
2        90%    46.80  46.500  45.300
3      P Val     1.00   0.519   0.191

In [25]:
# ET Completion Latitude
Control_ET_Compl, RCP45_ET_Compl, RCP85_ET_Compl = ET_SLP_Bounds(Control_ET, RCP45_ET, RCP85_ET, False)
ET_Complete_Lat_DF = Percentile_DF(Control_ET_Compl["ET Complete Lat"], RCP45_ET_Compl["ET Complete Lat"], RCP85_ET_Compl["ET Complete Lat"])
ET_Complete_Lat_DF

  Percentile  Control  RCP4.5  RCP8.5
0        10%    33.60  33.500  34.600
1     Median    44.02  44.400  44.000
2        90%    49.80  50.300  49.900
3      P Val     1.00   0.896   0.611

In [26]:
# Storm Peak Longitude
Peak_Lon_DF = Percentile_DF(Control_ET["Peak Lon"], RCP45_ET["Peak Lon"], RCP85_ET["Peak Lon"])
Peak_Lon_DF

  Percentile  Control  RCP4.5  RCP8.5
0        10%  -84.500 -80.900 -84.700
1     Median  -60.035 -51.240 -57.015
2        90%  -28.800 -28.900 -30.200
3      P Val    1.000   0.002   0.083

In [27]:
# ET Initiation Longitude
Control_ET_Begin, RCP45_ET_Begin, RCP85_ET_Begin = ET_SLP_Bounds(Control_ET, RCP45_ET, RCP85_ET, True)
ET_Begin_Lon_DF = Percentile_DF(Control_ET_Begin["ET Begin Lon"], RCP45_ET_Begin["ET Begin Lon"], RCP85_ET_Begin["ET Begin Lon"])
ET_Begin_Lon_DF

  Percentile  Control  RCP4.5  RCP8.5
0        10%  -83.900   -78.0 -82.000
1     Median  -61.145   -50.3 -55.635
2        90%  -26.900   -23.8 -26.600
3      P Val    1.000     0.0   0.024

In [28]:
# ET Completion Longitude
Control_ET_Compl, RCP45_ET_Compl, RCP85_ET_Compl = ET_SLP_Bounds(Control_ET, RCP45_ET, RCP85_ET, False)
ET_Complete_Lon_DF = Percentile_DF(Control_ET_Compl["ET Complete Lon"], RCP45_ET_Compl["ET Complete Lon"], RCP85_ET_Compl["ET Complete Lon"])
ET_Complete_Lon_DF

  Percentile  Control  RCP4.5  RCP8.5
0        10%   -79.50 -72.900 -74.800
1     Median   -50.35 -42.595 -46.250
2        90%   -22.00 -15.600 -24.700
3      P Val     1.00   0.007   0.076