In [1]:
import cartopy.crs as ccrs
import cartopy.feature as cfeature
from cartopy.mpl.gridliner import LATITUDE_FORMATTER, LONGITUDE_FORMATTER
import cftime
import datetime
from datetime import date
from matplotlib import pyplot
from matplotlib import colors
from matplotlib import font_manager
import matplotlib.colors as mcolors
from matplotlib.cm import ScalarMappable
import matplotlib.dates as mdates
import matplotlib.lines as mlines
import matplotlib.patches as mpatches
import matplotlib.ticker as mticker
from mpl_toolkits.mplot3d import Axes3D
import netCDF4
from netCDF4 import Dataset
import numpy
import os
import pandas
from PIL import Image
import random
import readline
import scipy
from scipy import fft
from scipy import linalg
from scipy import stats
from scipy.stats import poisson, ttest_ind
import seaborn
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import normalize
from statsmodels.tsa.ar_model import AutoReg
import xarray as xr

In [2]:
Diri = '/glade/u/home/whimkao//ExtraTrack/ExtraTrack_Data/Output_Files_V6/'
Output_Diri = '/glade/u/home/whimkao//ExtraTrack/ExtraTrack_Github/RCP_Figs/Analysis_Figs_V6/'
Compo_Diri = '/glade/u/home/whimkao//ExtraTrack/Composite_Files_V5/'

In [3]:
# Open File
def Open_File(File):
    DF = pandas.read_csv(File)
    DF = DF.drop("Unnamed: 0", axis=1)
    return (DF)

In [4]:
# Open Each File
def Files_Open(Model, Diri):
    Data_DF = Open_File(Diri+Model+'_Data_All_Output_V6.csv')
    ET_DF = Open_File(Diri+Model+'_ET_All_Output_V6.csv')
    Codes_DF = Open_File(Diri+Model+'_Codes_Output_V6.csv')
    Time = []
    Birth_Time = []
    Start_Time = []
    End_Time = []
    Death_Time = []
    Peak_Time = []
# Edit Time Format
    for i in range(len(Data_DF)):
        Time.append(Datetime(Data_DF["Time(Z)"][i]))
    for j in range(len(ET_DF)):
        Birth_Time.append(Datetime(ET_DF["Genesis Time"][j]))
        Start_Time.append(Datetime(ET_DF["ET Begin Time"][j]))
        End_Time.append(Datetime(ET_DF["ET Complete Time"][j]))
        Death_Time.append(Datetime(ET_DF["Dissipate Time"][j]))
        Peak_Time.append(Datetime(ET_DF["Peak Time"][j]))
    Data_DF["Time(Z)"] = Time
    ET_DF["Genesis Time"] = Birth_Time
    ET_DF["ET Begin Time"] = Start_Time
    ET_DF["ET Complete Time"] = End_Time
    ET_DF["Dissipate Time"] = Death_Time
    ET_DF["Peak Time"] = Peak_Time
    return (Data_DF, ET_DF, Codes_DF)

In [5]:
def Datetime(Time):
    try:
        New_Time = datetime.datetime.strptime(Time, '%Y-%m-%d %H:%M:%S')
    except:
        New_Time = numpy.nan
    return (New_Time)

In [6]:
Control_Data_All, Control_ET_All, Control_Codes = Files_Open("Control", Diri)
RCP45_Data_All, RCP45_ET_All, RCP45_Codes = Files_Open("RCP45", Diri)
RCP85_Data_All, RCP85_ET_All, RCP85_Codes = Files_Open("RCP85", Diri)

In [7]:
# Find a Specific Storm Within the DataFrame
def Find_Storm(DF, Code):
    DF_Storm = DF[DF["Code"] == Code].reset_index()
    return (DF_Storm)

In [8]:
# Create Bins
def Create_Bins(Min, Max, Bin_Width):
    Bins = numpy.arange(Min, Max+Bin_Width, Bin_Width)
    return (Bins)

In [9]:
# Function to Find Distance Between Two Points
def Find_Distance(y1, y2, x1, x2):
    Start_Lat = y1 * numpy.pi / 180
    End_Lat = y2 * numpy.pi / 180
    Start_Lon = x1 * numpy.pi / 180
    End_Lon = x2 * numpy.pi / 180
    Lat_Diff = End_Lat - Start_Lat
    Lon_Diff = End_Lon - Start_Lon
    Earth_Rad = 6378
    Distance = 2 * Earth_Rad * numpy.sqrt((numpy.sin(Lat_Diff/2))**2 + \
    numpy.cos(Start_Lat) * numpy.cos(End_Lat) * (numpy.sin(Lon_Diff/2))**2)
    return (Distance)

In [10]:
Control_ET_All[Control_ET_All["Genesis SLP"] < 985][["Code", "Name", "Genesis SLP", "Genesis Lon", "Genesis Lat", "Genesis Time"]]

,Code,Name,Genesis SLP,Genesis Lon,Genesis Lat,Genesis Time
12,TC190109,Shannon,969.93,-45.76,43.50,1901-12-10 06:00:00
23,TC190302,Katrina,981.27,-64.30,38.05,1903-05-10 18:00:00
36,TC190501,Grace,977.41,-30.28,33.82,1905-01-02 18:00:00
46,TC190601,Bryan,978.57,-42.44,36.52,1906-01-18 12:00:00
57,TC190701,Tess,981.62,-50.72,37.95,1907-01-07 06:00:00
95,TC191202,Travis,951.00,-47.73,43.15,1912-02-15 00:00:00
197,TC192302,Ryan,980.07,-52.77,39.87,1923-04-02 12:00:00
309,TC193604,Quinn,974.21,-26.35,39.11,1936-03-21 00:00:00
343,TC193911,Nabil,972.08,-55.53,39.64,1939-11-18 06:00:00
359,TC194102,Romeo,978.41,-54.52,36.70,1941-03-04 06:00:00
361,TC194104,Travis,981.65,-62.29,35.52,1941-05-07 00:00:00
370,TC194114,Kyan,980.32,-50.30,40.52,1941-12-04 00:00:00
375,TC194301,Tatiana,953.29,-41.64,42.08,1943-01-28 18:00:00
398,TC194507,Luigi,981.21,-48.86,41.58,1945-11-11 18:00:00
425,TC194902,Peach,968.01,-48.66,41.28,1949-03-31 06:00:00
457,TC195202,Carson,979.63,-51.20,41.83,1952-04-25 00:00:00
492,TC195514,Yan,971.45,-60.60,39.81,1955-12-12 06:00:00
501,TC195612,Oscar,977.62,-41.05,40.18,1956-10-21 12:00:00
599,TC196703,Benjamin,982.93,-45.88,39.00,1967-04-17 00:00:00
616,TC196902,Ian,976.67,-46.55,42.28,1969-04-14 00:00:00
646,TC197302,Geneva,979.50,-48.84,30.73,1973-03-10 06:00:00
657,TC197406,Bruce,984.82,-41.65,30.55,1974-11-04 12:00:00
658,TC197501,Dylan,982.10,-58.18,38.07,1975-03-17 00:00:00
694,TC197901,Tiffany,983.90,-46.84,31.87,1979-01-11 18:00:00
709,TC198001,Anna,983.71,-27.25,30.31,1980-02-11 18:00:00
750,TC198313,Shawn,977.88,-68.53,36.69,1983-11-15 18:00:00
751,TC198314,Tracy,968.38,-69.63,39.50,1983-11-19 12:00:00
752,TC198401,Wilson,979.65,-62.44,37.45,1984-01-15 18:00:00
753,TC198402,Alberto,975.95,-66.16,37.33,1984-01-20 00:00:00
774,TC198601,Kyan,955.81,-50.91,38.69,1986-02-07 18:00:00

In [11]:
RCP45_ET_All[RCP45_ET_All["Genesis SLP"] < 985][["Code", "Name", "Genesis SLP", "Genesis Lon", "Genesis Lat", "Genesis Time"]]

,Code,Name,Genesis SLP,Genesis Lon,Genesis Lat,Genesis Time
0,TC200001,Alex,977.46,-46.32,40.22,2000-01-12 18:00:00
1,TC200002,Beatrice,977.86,-55.37,40.08,2000-01-29 12:00:00
2,TC200003,Colin,983.47,-54.74,32.41,2000-02-25 00:00:00
51,TC200707,Aidan,983.55,-63.47,36.05,2007-12-17 18:00:00
76,TC201110,Ian,982.67,-13.70,38.99,2011-12-07 18:00:00
83,TC201301,Sofiee,966.63,-47.24,42.86,2013-01-19 06:00:00
98,TC201504,Clark,966.99,-58.76,37.81,2015-03-12 00:00:00
121,TC201908,Zack,942.64,-47.44,44.80,2019-12-10 18:00:00
123,TC202002,Beatrice,984.24,-61.32,38.37,2020-02-19 06:00:00
164,TC202603,Gabriel,973.45,-49.38,40.03,2026-12-27 00:00:00
172,TC202801,William,984.85,-54.72,37.00,2028-02-13 06:00:00
173,TC202802,Aidan,979.09,-70.86,27.03,2028-02-21 12:00:00
174,TC202803,Bella,972.23,-54.02,34.40,2028-03-01 06:00:00
180,TC202811,Laura,978.48,-34.06,35.48,2028-12-24 00:00:00
191,TC203103,Mary,981.45,-55.41,40.53,2031-03-10 06:00:00
204,TC203303,Jessica,972.58,-58.53,40.72,2033-12-10 00:00:00
229,TC203802,Kevin,982.06,-37.09,42.06,2038-03-17 18:00:00
230,TC203803,Laurel,983.69,-57.70,37.42,2038-03-27 00:00:00
240,TC203907,James,981.60,-55.15,41.23,2039-11-12 18:00:00
243,TC204003,Ollie,979.25,-70.15,38.53,2040-03-01 12:00:00
255,TC204301,Shannon,964.28,-61.75,39.29,2043-01-31 12:00:00
256,TC204302,Tony,984.13,-54.33,39.05,2043-02-03 12:00:00
297,TC204909,Ken,976.44,-50.69,40.39,2049-12-01 18:00:00
305,TC205103,Elena,975.98,-72.44,32.21,2051-03-30 06:00:00
306,TC205104,Gregory,976.58,-55.08,35.17,2051-04-01 00:00:00
325,TC205305,Oxlip,976.53,-34.74,43.75,2053-12-03 00:00:00
350,TC205901,Alice,968.17,-58.66,38.71,2059-01-30 00:00:00
355,TC205907,Ivy,977.29,-58.58,42.16,2059-11-18 00:00:00
437,TC207207,Nabil,980.11,-40.49,40.53,2072-12-04 12:00:00
438,TC207302,Tracy,968.29,-66.18,37.72,2073-04-01 12:00:00
465,TC207609,Jennifer,981.38,-69.00,31.17,2076-12-29 00:00:00
490,TC208106,Lydia,959.32,-40.28,42.61,2081-11-29 18:00:00
496,TC208205,David,964.31,-37.65,45.17,2082-03-14 06:00:00
511,TC208308,Charlie,980.52,-55.16,42.06,2083-11-26 00:00:00
512,TC208404,Hubert,964.34,-33.11,41.93,2084-11-21 12:00:00
525,TC208701,Hana,984.92,-45.14,40.79,2087-01-24 12:00:00
538,TC208806,Greta,982.13,-36.06,39.37,2088-11-07 06:00:00
547,TC209001,Benjamin,979.04,-40.23,40.59,2090-02-27 00:00:00

In [12]:
RCP85_ET_All[RCP85_ET_All["Genesis SLP"] < 985][["Code", "Name", "Genesis SLP", "Genesis Lon", "Genesis Lat"]]

         Code      Name  Genesis SLP  Genesis Lon  Genesis Lat
1    TC210003     Colin       953.85       -47.15        41.53
5    TC210007  Harrison       964.17       -71.18        35.13
15   TC210201    Audrey       973.28       -61.53        37.64
32   TC210604    Noelle       951.80       -63.02        40.45
58   TC211301   Christy       972.04       -73.38        34.00
80   TC211604    Sofiee       974.11       -49.94        37.64
82   TC211606       Yan       979.74       -40.60        39.33
84   TC211706    Ivanka       960.98       -41.68        37.51
85   TC211707      Jack       973.77       -56.33        37.40
124  TC212504    Nicole       977.85       -61.70        40.19
136  TC212710    Samson       971.25       -46.11        44.94
137  TC212802    Victor       982.46       -42.91        37.92
153  TC213102   Dominic       980.63       -51.87        38.11
154  TC213103    Esther       976.60       -56.13        34.10
163  TC213205      Tess       983.56       -51.62        37.02
168  TC213308   Hendrik       984.06       -71.35        34.09
208  TC214002    Skyler       978.47       -75.76        34.31
214  TC214008     Doris       979.46       -42.13        42.91
242  TC214501      Dawn       976.30       -45.45        35.20
243  TC214502    Ernest       964.56       -47.40        41.46
271  TC215001      Joey       964.36       -45.29        41.52
275  TC215005    Noelle       975.33       -21.32        38.77
277  TC215007      Song       969.82       -60.53        38.74
289  TC215307     Aidan       981.02       -48.13        38.05
292  TC215402    Erling       976.76       -51.84        41.61
298  TC215412   Timothy       980.48       -34.83        37.27
313  TC215805    Blaise       970.32       -74.51        34.63
393  TC217103      Joey       984.85       -62.84        33.48
394  TC217104     Keith       981.35       -64.75        36.93
448  TC218405    Flavia       983.34       -49.63        29.96

In [13]:
# Create Function to Open Storm Composite Files
def Composite_File(File):
    Diri = '/glade/work/whimkao//ExtraTrack/Composite_Files_V5/'
    Compo_File = xr.open_dataset(Diri + File)
    return (Compo_File)

In [14]:
# Open Storm Composite Files
Control_A_Compo_nc = Composite_File('composite_dtime900.control.002.nc')
Control_B_Compo_nc = Composite_File('composite_dtime900.control.003.nc')
Control_C_Compo_nc = Composite_File('composite_dtime900.control.004.nc')
Control_A_Compo_nc

FileNotFoundError: [Errno 2] No such file or directory: '/glade/work/whimkao/ExtraTrack/ExtraTrack_Data/Composite_Files_V5/composite_dtime900.control.002.nc'